<div class="nk-header bg-light has-overlay" id="home">

  <div class="overlay shape shape-a"></div>

  <div class="nk-navbar is-light is-sticky" id="navbar">
    <div class="container">
      <div class="nk-navbar-wrap">

        <div class="nk-navbar-logo logo">
          <a href="./" class="logo-link">
            <img class="logo-dark" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="logo">
            <img class="logo-light" src="images/logo-white.png" srcset="images/logo-white2x.png 2x" alt="logo">
          </a>
        </div>

        <div class="nk-navbar-toggle d-lg-none">
          <a href="#" class="toggle" data-menu-toggle="navbar-menu">
            <em class="icon-menu icon ni ni-menu"></em>
            <em class="icon-close icon ni ni-cross"></em>
          </a>
        </div>

        <nav class="nk-navbar-menu" id="navbar-menu">
          <ul class="nk-menu">
            <li class="nk-menu-item">
              <a class="scrollto nav-link nk-menu-link" href="index.html">Inicio</a>
            </li>
            <li class="nk-menu-item">
              <a class="scrollto nav-link nk-menu-link" href="index.html#about"> Sobre Miscua </a>
            </li>
            <li class="nk-menu-item">
              <a class="scrollto nav-link nk-menu-link" href="index.html#symptoms">Síntomas</a>
            </li>
            <li class="nk-menu-item">
              <a class="scrollto nav-link nk-menu-link" href="index.html#prevention"> Protégete </a>
            </li>
            <li class="nk-menu-item">
              <a class="scrollto nav-link nk-menu-link" href="index.html#treatment">Tratamientos</a>
            </li>
          </ul>

          <ul class="nk-menu-btns">
            <li class="nk-menu-item">
              <a href="Miscua.apk" class="btn btn-sm scrollto nav-link">Descarga gratis</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>

  <div class="nk-banner">
    <div class="container">
      <div class="row g-gs align-items-center justify-content-between">

        <div class="col-lg-5 order-lg-last">
          <div class="nk-banner-image">
            <img class="header_a" src="images/gfx/header-a.png" alt="">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="nk-banner-block">
            <div class="content">

              <h1 class="heading">
                <span>COLOMBIA</span>
                <span class="heading-sm">
                  <span class="sup">CONTRA EL</span>
                  <span class="sub">COVID-19</span>
                </span>
              </h1>

              <div>
                <ul class="nk-menu-btns">
                  <li>
                    <a href="Miscua.apk" class="btn scrollto">
                      <span>Descarga el apk</span>
                      <em class="icon ni ni-arrow-long-right"></em>
                    </a>
                  </li>
                  <li>
                    <a href="infografia.html" class="btn btn-transparent scrollto">
                      <span> Guía para usar Miscua</span>
                      <em class="icon ni ni-arrow-long-right"></em>
                    </a>
                  </li>
                </ul>
              </div>

              <p>Miscua es una herramienta con seguimiento GPS que proporciona y recibe información para presentarte
                los casos de COVID-19 más cercanos a tu ubicación.
              </p>

              <p>Es possible, que sin saberlo hayas tenido contacto cercano con alguien que contrajo el virus. Lo
                conozcas
                o no, Miscua te ayudará a rastrear las zonas de posible contagio que pueden ser vulnerables para tí y
                tus seres queridos.
              </p>

              <p><strong>Confiamos en tí, has un uso responsable de la aplicación.</strong></p>
              <p><strong><em>Con tecnología cortaremos juntos la cadena de contagio.</em></strong></p>


              <div class="container">
                <div class="row">
                  <div class="col-6 col-md-4">
                    <img src="images/gfx/hearder-appst.png" width="150px" height="150px" alt="">
                  </div>
                  <div class="col-6 col-md-4">
                    <img src="images/gfx/header-appg.png" width="150px" height="150px" alt="">
                  </div>
                </div>
              </div>


              <div class="status-note">* Disponible para iPhone, iPad y todos los dispositivos Android</div>


              <div class="status">
                <div class="row g-gs">

                  <div class="col-sm-4 col-6">
                    <div class="status-item">
                      <h6 class="title">Casos en Colombia</h6>
                      <div class="h3 count" id="confirmed"></div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-6">
                    <div class="status-item">
                      <h6 class="title">Muertes</h6>
                      <div class="h3 count" id="deaths"></div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-6">
                    <div class="status-item">
                      <h6 class="title">Recuperados</h6>
                      <div class="h3 count" id="recovered"></div>
                    </div>
                  </div>
                </div>

                <div class="status-note" id="lastupdate">* Última actualización: </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>