$gris: (
    50: #fafafa,
    100: #f5f5f5,
    200: #ededed,
    300: #dfdfdf,
    400: #bcbcbc,
    500: #9d9d9d,
    600: #747474,
    700: #606060,
    800: #414141,
    900: #202020,
    contrast: (
        50: #000003,
        100: #262628,
        200: #434345,
        300: #555557,
        400: #7b7b7d,
        500: #9d9da0,
        600: #c3c3c6,
        700: #d9d9db,
        800: #e9e9eb,
        900: #ffffff,
    )
);

$cafe: (
    50: #ece3d0,
    100: #d0b98b,
    200: #af8c40,
    300: #8f6300,
    400: #7d4900,
    500: #6d2f00,
    600: #6e2600,
    700: #6b1700,
    800: #660000,
    900: #5f0000,
    contrast: (
        50: #000003,
        100: #262628,
        200: #434345,
        300: #555557,
        400: #7b7b7d,
        500: #9d9da0,
        600: #c3c3c6,
        700: #d9d9db,
        800: #e9e9eb,
        900: #ffffff
    )
);

$rojo: (
    50: #fcecf0,
    100: #f8cfd8,
    200: #e69ea5,
    300: #da7983,
    400: #e55b66,
    500: #eb4c52,
    600: #db444f,
    700: #c93c48,
    800: #bc3641,
    900: #ab2f36,
    contrast: (
        50: #000003,
        100: #262628,
        200: #434345,
        300: #555557,
        400: #7b7b7d,
        500: #9d9da0,
        600: #c3c3c6,
        700: #d9d9db,
        800: #e9e9eb,
        900: #ffffff
    )
);