<div class="inicio container-fluid">
  <div class="row">
    <div class="col center">
      <img src="/assets/img/logo.jpg" alt="logo" class="img-fluid">
      <h1>¡Entre todo nos cuidamos, más y mejor!</h1>
      <br>
      <p class="texto col">En un país como el nuestro el aislamiento total es algo muy dificil para los mas vulnerables
        por eso queremos poner a disposición este servicio para poder frenar las cadenas de contagio. Estamos trabajando
        lo más rápido posible para poder ayudarte.</p>
    </div>
  </div>
  <br><br>
  <div class="informacion row">
    <div class="col center">Si quieres ayudarnos no dudes escribirnos a <a
        href="mailto:leonardo@conicomlab.">leonardo@conicomlab.com</a></div>
    <div class="col center">Las políticas de uso puedes verlas <a routerLink="/politicas">aquí</a></div>
  </div>
</div>